fastapi[standard]
fastapi-cli[standard]
uvicorn[standard]
sqlalchemy[asyncio]
alembic
pydantic
pydantic-settings
{% if cookiecutter.database_type == "PostgreSQL" %}
asyncpg
psycopg2
{% elif cookiecutter.database_type == "MySQL" %}
aiomysql
{% elif cookiecutter.database_type == "SQLite" %}
aiosqlite
{% elif cookiecutter.database_type == "Oracle" %}
oracledb
{% endif %}
pyjwt
celery
redis
flower

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx
aiosqlite
pytest-benchmark
locust
faker
